.booked {
    background-color: #CC7B40 !important; /* Broneeritud päevade värv */
    color: white !important; /* Teksti värv */
    border-radius: 12px; /* Ümarad nurgad */
    font-weight: bold;
}

.active-day {
    background-color: #556B2F !important; /* Aktiivse päeva värv */
    color: white !important; /* Teksti värv */
    border-radius: 12px; /* Ümarad nurgad */
    font-weight: bold;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.react-calendar {
    border: 2px solid #556B2F !important; /* Kalendri välispiirid */
    border-radius: 10px; /* Ümarad nurgad */
}

.react-calendar__navigation {
    background-color: #556B2F; /* Navigatsiooni (ülemine riba) taust */
    color: white; /* Teksti värv navigatsiooniribal */
    border-radius: 10px 10px 0 0; /* Ülemiste nurkade ümarus */
}

.react-calendar__navigation button {
    color: white; /* Nuppude tekstivärv */
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.react-calendar__tile {
    background-color: #f0f0f0; /* Plaatide taust */
    color: #000000; /* Teksti värv */
    border: 1px solid #808000; /* Piir iga päeva jaoks */
    border-radius: 5px; /* Ümarad nurgad */
    transition: background-color 0.3s ease;
}

.react-calendar__tile--hover {
    background-color: #C0A897; /* Hoveri värv */
    color: black;
    cursor: pointer;
}

.selected-date {
    margin-top: 15px; /* Võite muuta väärtust vastavalt soovile */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Lisatud font */
    font-size: 16px; /* Lisage sobiv fondi suurus */
}

.book-button {
    padding: 12px 24px; /* Suurendab nupu sisu */
    font-size: 16px; /* Suurendab teksti suurust nupul */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Lisatud font */
    border-radius: 25px; /* Muudab nupu kumeramaks */
    background-color: #CC7B40; /* Taustavärv */
    color: white; /* Teksti värv */
    border: none; /* Eemaldab nupu äärise */
    cursor: pointer; /* Muudab kursorit */
    transition: background-color 0.3s; /* Lisab sujuva ülemineku */
    margin-top: 10px;
    font-weight: bold;
    margin-top: 50px; /* Vahe kellaaja sisendist */
}

.book-button:hover {
    background-color: #C0A897; /* Muudab taustavärvi, kui hiir on nupu kohal */
}

.time-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Lisatud font */
    color: white; /* Teksti värv */
    font-size: 16px; /* Teksti suurus */
    margin-bottom: 5px; /* Ruumi lisamine allapoole */
    display: block; /* Muudab sildi plokk-elemendiks */
}

.time-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Lisatud font */
    color: white; /* Teksti värv */
    background-color: transparent; /* Läbipaistev taust */
    border: 1px solid white; /* Valge ääris */
    padding: 5px; /* Sisemised ääred */
    border-radius: 5px; /* Ümarad nurgad */
    width: 120px; /* Laius */
    margin-left: 10px; /* Ruumi lisamine vasakule */
    outline: none; /* Eemaldab sinise äärise fokuseerimisel */
    transition: border-color 0.3s ease; /* Sujuv üleminek */
    margin-bottom: 10px; /* Ruumi lisamine kellaaja sisendile */
}

.time-input:focus {
    border-color: #CC7B40; /* Äärise värv, kui sisend on aktiivne */
}

/* Kellaaja valiku silt */
.time-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Lisatud font */
    color: white; /* Teksti värv */
    font-size: 16px; /* Sobiv fondi suurus */
    margin-top: 10px; /* Ruumi sildi ümber */
    display: inline-block; /* Õige joondamine */
}
