.home-body {
    background-color: aliceblue; /*juhul kui see baby tootama ei peaks*/
    background-image: url(hoodindex.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 40vh;
    padding: 20px;

}

.home-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: #FFFF;
    background-color: rgba(72, 60, 50, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    text-align: center;
}

.click:hover {
    color: #C0A897;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.telli-link {
    display: flex;
    text-align: center;
}

@media (max-width: 700px) {
    .home-text {
        font-size: 2rem;
    }
}

@media (max-width: 1280px) {
    .home-text {
        font-size: 2rem;
    }
}
