.auth-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    background-image: url('../backgroundbarimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.auth-form {
    animation: fadeIn 1s ease-in-out;
        background-color: rgb(72, 60, 50, 0.9);
    padding: 40px;
    border-radius: 12px;
        box-shadow: 0 4px 12px #9a643e;
    width: 400px;
    
}

/*väike ekraan*/
@media (max-width: 768px) {
    .auth-container {
        justify-content: center;
        padding: 10px;
    }

    .auth-form {
        width: 100%;
        padding: 20px;
        /*vähem paddingut*/
    }
}

/*veel väiksem ekraan*/
@media (max-width: 480px) {
    .auth-form h1 {
        font-size: 24px;
    }

    .auth-form p {
        font-size: 14px;
    }

    .form-group input,
    .submit-btn {
        font-size: 14px;
    }
}

.auth-form h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;
    font-weight: 700;
}

.auth-form p {
    margin-bottom: 20px;
    color: #C0A897;
    font-size: 16px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
        color: #C0A897;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #444;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #9a643e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.submit-btn:hover {
    background-color: #2d251f;
        color: #B79286;
    }
    
    .toggle-link {
        margin-top: 20px;
        color: #000;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        text-decoration: underline;
        transition: color 0.3s;
    }
    
    .toggle-link:hover {
        color: #ac2a9b;
    }
    
    .submit-btn:active {
        transform: scale(0.98);
        /* Slightly reduces the button size */
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        /* Reduces the shadow */
}
